body {
    font-family: 'Baloo Paaji 2', cursive;
    margin: 0px;
    padding: opx;
    background: url('books-436508_1920.jpg');
    background-size: 109%;

  }

  .top {
    position: absolute;
    right: 2px;

    /* border: 2px solid red; */
  }

  .top1 {
    position: absolute;
    left: 23px;
    display: inline-block;
    /* border: 2px solid blue; */
  }

  .right {
    display: block;
    width: 61%;
    margin: 8px auto;
    /* border: 2px solid yellow; */
  }

  .top1 img {
    width: 93px;
    display: inline-block;

  }

  .title {
    text-align: center;
    color: antiquewhite;
  }

  .navbar {
    display: inline-block;
  }

  .navbar li {
    display: inline-block;
    font-size: 20px;
  }

  .navbar li a {
    color: bisque;
    text-decoration: none;
    margin: 31%;
    padding: 34px 33px;

  }

  .navbar li a:hover,
  .navbar li a.active {
    color:black;
    text-decoration: none;
    text-transform: capitalize;

   
  }

  .btn {
    font-family: 'Baloo Paaji 2', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 8px 26px;
    /* border: 2px solid grey; */
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: transparent
  }

  .container1 {
    /* border: 2px solid purple; */
    margin: -30px 432px;
    padding: 0px 1px;
    border-radius: 4px;
    width: 24%;
  }

  .container2 {
    /* border: 2px solid purple; */
    margin: -64px 436px;
    padding: 0px 14px;
    border-radius: 4px;
    width: 24%;

  }

  .head1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 81px;
    color: khaki;
  }

  .head2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 24px;
    color: khaki;
    display: inline-block;
    margin: 2px auto;
  }

  .container3 {
    /* border: 2px solid greenyellow; */

    margin: -203px 766px;
    padding: 71px;
    width: 25%;
    border-radius: 28px;
  }
  .container3 h2{
    text-align: center;
    color: bisque;
  }
  .form-group input {
    font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  display: block;
  width: 340px;
  padding: 0px 3px;
  /* border: 2px solid black; */
  margin: 7px -21px;
  font-size: 20px;
  border-radius: 8px;
  }
  .container3 button {
      display: inline-block;
      width: 74%;
      margin: 20px 44px;
      font-size: 15px;
  }
  .container3 button:hover{
    background-color:transparent;
  }
  h2 {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  .footer{
    text-align: center;
    /* color: aqua; */

  }